<!-- App features section-->
<section id="create">
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6">
				<!-- Masthead device mockup feature-->
				<div class="masthead-access-key-screen">
					<div class="screen-wrapper">
						<img class="img-fluid" src="{{ site.baseurl }}/assets/images/stack-create-posts-screen.png" alt="..."/>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<!-- Mashead text and app badges-->
				<div class="mb-5 mb-lg-0 text-center text-lg-start">
					<h1 class="display-1 lh-1 mb-3">Create Posts</h1>
					<p class="lead fw-normal text-muted mb-5">Fill in your Client Id & Key, upload a CSV with Questions & Answers and create them in bulk.</p>
					<div class="d-flex flex-column flex-lg-row align-items-center">
						<button class="btn btn-dark app-badge" data-bs-toggle="modal"
								data-bs-target="#uploadFormModal">
								<span class="d-flex align-items-center">
									<i class="bi-plus-circle me-2"></i>
									<span>Create Posts</span>
								</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>