<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
	<div class="container px-5">
		<a class="navbar-brand fw-bold" href="#page-top">
			<img class="logo-img" src="{{ site.baseurl }}/assets/images/finastra-logo.svg"
				 alt="Finastra Stack Enterprise" style="height:48px;">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="bi-list"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link me-lg-3" href="#create">Create</a></li>
				<li class="nav-item uploadResultSection"><a class="nav-link me-lg-3" href="#result">Upload Result</a></li>
			</ul>
<!--			<div class="ms-auto">-->
<!--				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"-->
<!--						data-bs-target="#uploadFormModal">-->
<!--					<span class="d-flex align-items-center">-->
<!--						<i class="bi-chat-text-fill me-2"></i>-->
<!--						<span class="small">Create Posts</span>-->
<!--					</span>-->
<!--				</button>-->
<!--				<button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal"-->
<!--						data-bs-target="#uploadFormModal">-->
<!--					<span class="d-flex align-items-center">-->
<!--						<i class="bi-chat-text-fill me-2"></i>-->
<!--						<span class="small">Create Posts</span>-->
<!--					</span>-->
<!--				</button>-->
<!--			</div>-->
		</div>
	</div>
</nav>