<header class="masthead" xmlns="http://www.w3.org/1999/html">
	<div class="container px-5">
		<div class="row gx-5 align-items-center">
			<div class="col-lg-6">
				<!-- Mashead text and app badges-->
				<div class="mb-5 mb-lg-0 text-center text-lg-start">
					<h1 class="display-1 lh-1 mb-3 text-center">Important</h1>
					<p class="lead fw-normal text-muted mb-5">
						<div class="row gx-5">
						<div class="col-md-6 mb-5">
							<!-- Feature item-->
							<div class="text-center">
								<a class="me-lg-3 mb-4 mb-lg-0" target="_blank" href="https://finastra.stackenterprise.co">

									<button type="button" class="btn btn-dark stack-button app-badge">
										<img class="dark-logo stack-button" src="{{ site.baseurl }}/assets/images/logo-stackoverflow-dark.svg" alt="..."/>
									</button>
								</a>
								<h3 class="font-alt">Client Id and Key</h3>
								<p class="text-muted mb-0">You can find the Client ID and Key by navigating to your user's API Access Key section at your
									Finastra Stack Enterprise Account</p>
							</div>
						</div>
						<div class="col-md-6 mb-5">
							<!-- Feature item-->
							<div class="text-center">
								<a class="me-lg-3 mb-4 mb-lg-0" href="#">
									<button type="button" id="sampleDownload" class="btn btn-dark stack-button app-badge">
										<span class="d-flex align-items-center">
											<i class="bi-download me-2"></i>
											<span>Download Sample</span>
										</span>
									</button>
								</a>
								<h3 class="font-alt">Sample</h3>
								<p class="text-muted mb-0">Download the sample file to prepare your upload file in the right format</p>
							</div>
						</div>
					</div>
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<!-- Masthead device mockup feature-->
				<div class="masthead-access-key-screen">
					<div class="screen-wrapper">
						<img class="img-fluid" src="{{ site.baseurl }}/assets/images/stack-access-key-screen.png" alt="..."/>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>