<div class="modal fade" id="uploadFormModal" tabindex="-1" aria-labelledby="uploadFormModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-gradient-primary-to-secondary p-4">
				<h5 class="modal-title font-alt text-white" id="uploadFormModalLabel">Create</h5>
				<button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body border-0 p-4">

				<form id="bulk-update-form" class="needs-validation" novalidate>
					<!-- Client Id input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="clientId" type="text" placeholder="Enter Client Id..." required/>
						<label for="clientId">Client Id</label>
						<div class="invalid-feedback">A valid Client Id is required.</div>
					</div>
					<!-- Client Key input-->
					<div class="form-floating mb-3">
						<input class="form-control" id="clientKey" type="text" placeholder="Enter key..." required/>
						<label for="clientKey">Key</label>
						<div class="invalid-feedback">A valid Key is required.</div>
					</div>
					<!-- CSV File input-->
					<div class="form-floating mb-3">
						<input class="form-control-file" id="fileToUpload" type="file" placeholder="Upload CSV file..." required/>
<!--						<label for="fileToUpload">CSV File</label>-->
						<div class="invalid-feedback">A valid CSV File is required.</div>
					</div>

					<!-- Generated Token hidden -->
					<input hidden disabled placeholder="Generated Token" type="text" id="generated-token" class="form-control">

					<!-- Submit Button-->
					<div class="d-grid">
						<button class="btn btn-primary rounded-pill btn-lg" id="btnUploadFile" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>